/***
 * Assignment 02
 * Author: Nazmul Biswass
 * Batch: 07
 * Date: 09/05/2023
*/


/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

section{
    width: 80%;
    margin: 0 auto;
}

/* Header Section Starts */
#header{
    width: 100%;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 100px;
}
.nav .nav-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;

}
.nav .nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .nav-items .nav-item{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    padding-left: 30px;
}
.nav a{
    text-decoration: none;
    color: #424242;
}

.nav-banner .banner-details{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.nav-banner .banner-details .banner-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}
.nav-banner .banner-details .banner-text{
    margin-top: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.nav-banner .banner-details .banner-btn{
    margin-top: 33px;
    margin-bottom: 50px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
}
.nav-banner .banner-image img{
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Header Section Ends */

/* Main Section Starts */

#main{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 130px;
}

.g3-architects{
    display: flex;
    justify-content: center;
    align-items: center;
}
.g3-architects .g3-teams{
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}
.g3-architects .g3-teams .team{
    width: 342px;
    height: 342px;
}
.g3-architects .g3-teams .team img{
    width: 100%;
    border-radius: 8px;
}
.g3-architects .g3-team-details{
    margin-left: 25px;
}
.g3-architects .g3-team-details .team-title{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
.g3-architects .g3-team-details .team-title strong{
    color: #131313;
}
.g3-architects .g3-team-details .team-title span{
    color: #FF900E;
}
.g3-architects .g3-team-details .team-text{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.g3-architects .g3-team-details .team-btn{
    margin-top: 33px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
}

.features{
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: top;
}
.features .feature-left, .feature-right{
    width: 50%;
}
.features .feature-left .feature-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    padding-left: 20px;
    border-left: 4px solid #FF900E;
}
.features .feature-left .feature-text{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.features .feature-left .feature-boxes{
    margin-right: 50px;
}
.features .feature-left .feature-boxes .feature-box{
    margin-bottom: 20px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.features .feature-left .feature-boxes .feature-box .box-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.features .feature-left .feature-boxes .feature-box .box-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.features .feature-right .architect img{
    width: 100%;
}
.experience{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -265px;
    left: 75px;
}
.experience .experience-btn{
    display: inline-block;
    padding: 45px 42px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
}
.experience h3{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
}
.experience p{
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}
@keyframes jumping {
    0%{
        transform: scale(.8);
    }
    25%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.5);
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(.8);
    }
}
@keyframes sliding {
    0%{
        color: forestgreen;
    }
    25%{
        color: dodgerblue;
    }
    50%{
        color: gold;
    }
    75%{
        color: aqua;
    }
    100%{
        color: deeppink;
    }
}
.achievement{
    

}
.achievement .achiv-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.achievement .achiv-text{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.achievement .achiv-boxes{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.achievement .achiv-boxes .achiv-box{
    margin: 24px;
    text-align: center;
    padding: 45px 35px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    box-sizing: border-box;
}
.achievement .achiv-boxes .achiv-box img{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    animation: jumping 3s ease 0.1s infinite alternate;
    animation-play-state: paused;
}
.achievement .achiv-boxes .achiv-box:hover img{
    animation-play-state: running;
}
.achievement .achiv-boxes .achiv-box h3{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    animation: sliding 3s ease 0.1s infinite alternate;
    animation-play-state: paused;
}
.achievement .achiv-boxes .achiv-box:hover h3{
    animation-play-state: running;
}
.achievement .achiv-boxes .achiv-box p{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

.employees{
    margin-top: 130px;
}
.employees .employees-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.employees .employees-text{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.employees .profiles{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.employees .profiles .employee{
    margin-bottom: 20px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: top;

}
.employees .profiles .employee .photo,
.employees .profiles .employee .profile{
    width: 50%;
}
.employees .profiles .employee .photo img{
    width: 100%;
    border-radius: 8px;
}
.employees .profiles .employee .profile{
    padding: 50px 0 0 50px;
}

.sponsor{
    margin-top: 175px;
    text-align: center;
}
.sponsor .sponsor-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.sponsor .sponsor-txt{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.sponsor .sponsor-logos{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.sponsor .sponsor-logos img{
    width: 100%;
    height: 50px;
    mix-blend-mode: luminosity;
}

/* Main Section Ends */

/* Footer Section Starts */

#footer{
    width: 80%;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}
#footer p{
    padding: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    vertical-align: middle;
    color: #424242;
    background: #FFF4E7;
    border-radius: 8px;
}

/* Footer Section Ends */

/* Responsiveness Styles */

@media screen and (max-width: 572px) {
    /* Common Styles */
    section{
        width: 100%;
        margin: 0 auto;
        padding: 5px;
    }

    /* Header Styles */
    .nav {
        flex-direction: column;
    }
    .nav .nav-items{
        margin-top: 24px;
        flex-direction: column;
    }
    .nav .nav-items .nav-item {
        margin-top: 25px;
    }
    .nav-banner .banner-details .banner-title{
        font-size: 55px;
        line-height: 65px;
    }
    .nav-banner .banner-image img{
        transform: scaleY(1.4) translateY(40px);
    }

    /* Main Section Styles */
    .g3-architects{
        flex-direction: column;
    }
    .g3-architects .g3-teams{
        grid-template-columns: 1fr;
    }
    .g3-architects .g3-teams .team{
        width: 400px;
        height: 100%;
    }

    .features{
        flex-direction: column;
    }
    .features .feature-left, .feature-right{
        width: 100%;
    }
    .features .feature-left .feature-boxes{
        margin: 10px;
    }

    .experience{
        top: -145px;
        left: 0;
    }

    .achievement .achiv-boxes{
        flex-direction: column;
    }
    .achievement .achiv-boxes .achiv-box{
        width: 80%;
    }

    .employees .profiles{
        grid-template-columns: 1fr;
    }
    .employees .profiles .employee{
        margin: 10px;
    }

    .sponsor .sponsor-logos{
        flex-direction: column;
    }
    .sponsor .sponsor-logos img{
        margin: 50px auto;
    }

}